html {
  font-family: sans-serif;

  color: #080808;
}

body {
  margin: 0 auto;

  padding: 1rem;

  max-width: 920px;
}

h1 {
  margin-top: 0;

  font-size: 1.5rem;

  small {
    display: block;

    font-size: 1rem;
  }
}

.index {
  display: flex;
  flex-direction: row;

  margin-bottom: 1.5rem;

  section {
    display: block;
  }

  .article-list {
    flex-grow: 1;

    .article {
      margin-bottom: 1rem;
    }

    .date {
      display: block;
      color: #333;
    }
  }

  aside {
    width: 40%;
    display: block;

    img {
      display: block;

      margin: 0 auto 1rem;

      border-radius: 5px;
    }

    dt {
      font-size: .9rem;
    }

    dd {
      margin-left: 0
    }

    dd:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}

small {
  font-size: smaller
}

.text-center {
  text-align: center;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

pre {
  border-radius: 3px;

  padding: 1rem;
}

hr {
  background-color: #9c9c9c;
  height: 1px;

  border: 0;
}

blockquote {
  border-left: 5px solid darkgray;

  padding: 0.8rem;

  background-color: #f5f5f5;

  margin-left: 0;

  border-radius: 3px;
}

table {
  border: 1px solid lightgray;
}

thead {
  border-bottom: 1px solid lightgray;

  background-color: #efefef;
}

tr, td {
  border-bottom: 1px solid lightgray;

  padding: .3rem;
}

footer {
  text-align: center;

  a {
    color: lightgray;

    font-size: .7rem;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}

details {
  summary {
    @extend .cursor-pointer;
    outline: none;
  }
}